# Secrets
appsettings.Development.json
appsettings.Production.json
*.user
*.secrets.json

# Environment files
.env
.env.local
.env.production

# .NET build folders
bin/
obj/
*.user
*.suo
*.vs/
*.sourcelink.json


# Node.js / frontend
node_modules/
dist/
